.container {
  width: 350px;
  min-height: 700px;
  margin: 0 auto ;
  background-color:#0e1111;
  color: rgb(249, 162, 2);
  
  /*box-shadow: 0 0 10px gray;*/
  margin-top: 50px;
  padding: 10px 50px;
  font-family: "Times New Roman", Times, serif;
 /* background-image: url("1.png"), url("2.png"), url("3.png"), url("4.png");
  background-position: left top, left top, left top, left top ;
  background-repeat: repeat-x;
  background-size: 100% 20%, 100% 55%, 100% 75%, 100% 100%;*/
  
}

.text-centre{
  text-align: center;
  justify-content: space-between;
  
  background-color: #0e1111;
  border-radius: 5px;
  display: grid;
  justify-content: space-around;
  font-family: "Times New Roman", Times, serif;
  
  
}

.expense-container{
  display: flex;
  justify-content: space-around ;
  background-color: 	#F0F0F0;
  /*box-shadow:  0 0 10px gray;*/
  border: thin;
  font-family: "Times New Roman", Times, serif;
  border-radius: 5px;
  font-weight: bolder;
  font-size: larger;

}

.AddTrans{
  margin: 10px 0 0;
  font-family: "Times New Roman", Times, serif;

}

.transaction-form input{
  width: 97%;
  margin: 10px 0;
  
  padding: 15px 5px;
  border-radius: 5px;
  background-color: 	#F0F0F0;
  color: rgb(249, 162, 2);
  font-weight: bolder;
  font-family: "Times New Roman", Times, serif;
  font-size: large;
  
  
}

.color{
  color: rgb(249, 162, 2);
  font-weight: bolder;
  font-family: "Times New Roman", Times, serif;
}

.transaction-list{
  margin: 0;
  padding: 0; 
  font-family: "Times New Roman", Times, serif;
}

.Enter{
  color: rgb(249, 162, 2);
  font-family: "Times New Roman", Times, serif;
}

.transaction-list > li{
  display: flex;
  justify-content: space-between;
  /*box-shadow: 0 0 10px gray;*/
  padding: 10px 5px;
  background-color: 	#F0F0F0;
  margin: 5px 0;
  border-radius: 5px;
  font-weight: bolder;
  font-family: "Times New Roman", Times, serif;
  font-size: large;
}

.button {
  
  width: 100%;
  display: flex;
  justify-content: space-around;
  /*box-shadow: 0 0 10px gray;*/
  padding: 10px 10px;
  background-color:  #0AC92B	;
  margin: 10px 0;
  border-radius: 5px;
  font-size: larger;
  font-weight: bolder;
  align-self: center;
  font-family: "Times New Roman", Times, serif;
  color: #F0F0F0;
}

.background{
  color:  rgb(249, 162, 2);
}

.del-btn{
  cursor: pointer;
  background-color: #0AC92B;
  border: 0;
  color: #F0F0F0;
  font-size: 20px;
  line-height: 20px;
  padding: 2px 5px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-100%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;

}